<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Page Title</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  </head>
  <body>
        <header class="plain-header">
            <div class="ban">
		    <img id="logo" src="{{ url_for('static', filename='logo.jpeg') }}" height="61px">
		    <img id="logo-r" src="{{ url_for('static', filename='logo-r.jpeg') }}" height="61px">      
            </div>
 <nav id="topmenu" class="plain-list-h">
                {% for item in menubar %}
                    <a class="menuitm" href="{{ item.href }}">{{ item.caption }}</a>
                {% endfor %}
            </nav>
        </header>
             {% block body %}{% endblock %}
        <footer class="foot">
                <p>{{ footer.author }}</p>
        </footer>
  </body>
</html>
