{% extends "index.html" %}
{% include "sidebar_l.html" %}
{% block body %}
<section id="textedit">
	<h1>Créer un post</h1>
	<script src="//js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
	<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
	
	<form action="/write" method='POST'>
		<label>Titre:</label><br />
		<input type="text" id="title" name="title"><br />
		<label>Catégorie:</label><br />
		<input type="text" id="category" name="category"><br />
		<label>Contenu:</label><br />
		<textarea id="data" name="data" rows="20" cols="80"></textarea>
		<button type="submit">Envoyer</button><br />
	</form>
 </section>
{% endblock %}
