{% extends "index.html" %}
{% include "sidebar_l.html" %}
{% block body %}
<section id="post-list">
	<h1>Derniers billets</h1>
        	{% for pub in content %}
                        <div id="{{ pub.get_id() }}">
				<h2><a href="/posts/{{ pub.get_id() }}">{{ pub.get_title() }}</a></h2>
				<em>Par {{ pub.get_author() }} le {{ pub.get_date() }}</em>
				<div class="post-action">
					<a href="write/{{ pub.get_id() }}">edit</a> <a href="remove/{{ pub.get_id() }}">remove</a>
				</div>
                                <p>{{ pub.get_content()|safe }}</p>
                        </div>
                {% endfor %}
</section>
{% endblock %}
